---
import Header from '@components/Header.svelte'
import Footer from '@components/Footer.svelte'

interface Props {
    page_title: string
}

const { page_title } = Astro.props
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/UTBM/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{page_title}</title>
    </head>
    <body>
        <Header />
        <slot />
        <Footer />
    </body>
</html>
